.gallery {
	background: black;
	color: white;

	.photo-gallery-module {
		.slick-track {
			display: flex;
			align-items: center;
		}
		.slick-slide {
			img {
				max-height: calc(70vh - 100px);
  			width: auto;
  			margin: 0 auto; /* it centers any block level element */
				cursor: pointer;
			}
		}
	}
}
.vex-theme-gallery {
	.vex-content {
		background: black;
		position: relative;
		margin: 0 auto;
		height: 100%;
		display: flex;
		align-items: center;

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-height: 100%;
			width: auto;
		}
	}
	.vex-close {
		color: white;
		position: absolute;
		top: 5px;
		right: 5px;
		height: 23px;
		width: 23px;
		font-size: xx-large;
	}
}

@include media-query($on-palm) {
	.photo-gallery-module {
		.slick-prev {
			left: -10px;
			z-index: 999;
		}
		.slick-next {
			right: -10px;
			z-index: 999;
		}
		&.slick-slider {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
  .vex-theme-gallery {
    .vex-content {
			.helper {
			}
			img {
			}
		}
  }
}
